@import '../../../styles/variables';

.research-team {
  margin-top: 30px;
  //padding-top: 5px;
  //padding-bottom: 25px;
  font-size: 0.8125rem;
  border: 1px solid $StrokeGrey;

  .scroll-container {
    max-height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    /*overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(195, 195, 195, 0.3);
          background-color: #F5F5F5;
          margin-left: 3px;
          border-radius: 30px;
        }

        &::-webkit-scrollbar {
          width: 6px;
          background-color: #ececec;
          border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #bebebe;
          border-radius: 30px;
        }

        scrollbar-face-color: #bebebe;
        scrollbar-arrow-color: #F5F5F5;
        scrollbar-track-color: #F5F5F5;
        scrollbar-shadow-color: #bebebe;
        scrollbar-highlight-color: #bebebe;
        scrollbar-3dlight-color: #808080;
        scrollbar-darkshadow-Color: #202020;*/
  }

  .team-row {

  }

  .research-team-image {
    padding-top: 3px;
    padding-left: 15px;
    width: 100%;
  }

  .details {
    div {
      padding-bottom: 6px;
      @include mobile {
        padding-bottom: 0;
      }
    }
    // padding-bottom: 20px;
  }

  .name {
    display: flex;
    a {
      color: $CIBCBurgundy;
      font-family: WhitneySemibold;
      text-decoration: none;

      &:after {
        content: '';
        width: 0;
        height: 1px !important;
        display: block;
        background: #8B1D41;
        transition: 500ms;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
