@import '../../../styles/variables';

::ng-deep .home-page {
  padding: 0 10px;
  /*margin-top: -80px !important;
  @include tablet-mobile {
    margin-top: 0 !important;
  }

  .app-section-container {
    &:first-child {
      padding-top: 20px;
      background: white;
      @include tablet-mobile {
        padding-top: 0;

        .section-heading {
          padding-top: 0;
        }
      }
    }
  }*/
  .page-controls{
    padding-top: 0;
    padding-bottom: 10px;

    .como-msg{
      font-size: 0.75rem;
    }

    a{
      color: $CIBCBurgundy;
      font-family: WhitneyRegular;
      font-weight: 600;
      border-right: 1px solid $CIBCBurgundy;
      font-size: 0.75rem;
      padding-right: 10px;

      &:last-child{
        border-right: none;
      }

      &.next{
        padding-left: 10px;
      }

      &:hover{
        text-decoration: none;
      }

      &.disabled{
        color: $TextGrey;
        pointer-events: none;
      }
    }
  }

  .slide-container {
    padding: 25px 40px 30px 40px;
    background: #f5f5f5;

    .research-team-image {
      width: 100%;

      @include mobile {
        width: 100px !important;
      }
    }
  }

  swiper {
    //height: 200px;

    .swiper-button-next {
      background-image: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-button-prev {
      background-image: none;
      transform: rotate(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .details {
      font-size: 0.875rem;

      @include mobile {
        padding-top: 15px;
      }

      > div {
        padding-bottom: 7px;
      }

      .new {
        //font-weight: 800;
        font-family: WhitneySemibold;
      }
      .phone, .email{
        font-family: WhitneyBook;
      }

      .pdf-link {
        display: flex;
        a {
          text-transform: capitalize;
          letter-spacing: 2px;
          font-weight: 800;
          font-size: 1rem;
          text-decoration: none;
          //font-family: WhitneySemibold;

          &:after {
            content: '';
            width: 0;
            height: 1px !important;
            display: block;
            background: #8B1D41;
            transition: 500ms;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
        padding-bottom: 17px;
      }

      a {
        color: $CIBCBurgundy;
      }

    }

    .research-team-image {
      padding-top: 5px;
      @include mobile {
        width: 100px;
      }
    }
  }
  .evt-date {
    font-size: 0.875rem;
    font-family: WhitneySemibold;
  }

  .section-heading {
    margin-bottom: 0;
  }

  .flash-links-section {
    font-size: 0.8125rem;

    .row {
      margin: 0 15px 0 0;
    }
    .flash-link {
      color: $CIBCBurgundy;
      cursor: pointer;
      display: block;
      padding-top: 10px;
      padding-bottom: 2px;
      font-family: $CIBCSemiBoldFont;
      line-height: 1.8;
      transition: border 500ms linear;
      &:after {
        content: '';
        width: 0;
        height: 1px !important;
        display: block;
        background: $CIBCBurgundy;
        transition: 500ms;
      }
      &:hover {
        text-decoration: none;
        &:after {
          width: 100%;
        }
      }
    }
  }

  .table-links {
    font-size: 0.75rem;
    color: $CIBCBurgundy;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid $CIBCBurgundy;
    font-family: WhitneyRegular;

    @include mobile {
      font-size: 0.625rem;
    }

    &:last-child {
      border-right: none;
    }
  }

  .table-links-row {
    margin: 15px;
    font-weight: 600;

    @include mobile {
      margin: 15px 0;
    }
  }

  .research {
    .news-list {
      padding: 0 35px 0 15px !important;

      @include mobile {
        padding: 0 15px !important;
      }
    }
  }

  .forecast-report {
    .section-heading {
      margin-bottom: 0;
    }
    .news-list {
      padding: 0 35px 0 0 !important;

      @include mobile {
        padding: 0 15px !important;
      }
    }
  }

  /*::ng-deep {
    .mat-tab-label {
      padding: 0 15px !important;
    }

    .mat-tab-label .mat-tab-label-content {
      white-space: normal !important;;
    }

    .mat-tab-labels {
      @include not-mobile {
        // padding-right: 10px;
      }
    }
    .mat-tab-header-pagination {
      border: 1px solid $StrokeGrey;
      display: none;
    }
    .mat-tab-group {
      font-family: $CIBCLightRegularFont;
      // padding: 0 4px 0 8px;
    }
    .mat-tab-body-content {
      overflow: hidden !important;
    }

    .mat-tab-body-wrapper {
      border: 1px solid $StrokeGrey;
    }

    .mat-tab-label {
      !*@include not-mobile {
        width: 33.33%;
      }*!
      opacity: 1 !important;
      border-left: 1px solid $StrokeGrey;
      border-top: 1px solid $StrokeGrey;
      border-bottom: 1px solid $StrokeGrey;
      height: 55px;
      max-width: 200px;
      min-width: auto;
      display: flex;

      &:last-child {
        border-right: 1px solid $StrokeGrey;
      }

    }
    .mat-tab-label-content {
      font-size: 0.9375rem;
      font-family: $CIBCLightRegularFont;
      color: $TextGrey;
    }

    .mat-tab-label-active {
      border-top: 3px solid $CIBCBurgundy;
      border-bottom: none;
      background: white;
      .mat-tab-label-content {
        color: $CIBCBurgundy;
      }
    }
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      display: none;
    }
    .mat-tab-header, .mat-tab-nav-bar {
      border-bottom: none;
      // margin-top: 15px;
      margin-bottom: -1px;
      background: white;
    }
  }*/
}
